:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --num-cols: 4;
  --grid-border-color: #555;
  --main-color: #00b78b;
  --main-color-shade: rgb(0, 122, 93);
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#top {
  display: flex;
  font-size: 11px;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  letter-spacing: 2px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#app {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#score {
  margin-right: 20px;
  font-size: 20px;
  border: 1px dashed var(--main-color);
  height: 38px;
  background-color: var(--main-color-shade);
  font-weight: 400;
  line-height: 40px;
  padding: 0 8px;
}

#countdown {
  margin-right: 20px;
  border: 1px dashed var(--main-color);
  height: 38px;
  line-height: 38px;
  padding: 0 8px;
}

#message span {
  color: red;
  animation: fade-out 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fill {
  display: none;
}

#high {
  font-size: 11px;
  letter-spacing: 0px;
}

.fill-pipe .fill {
  display: block;
}

.fill-pipe-animate .fill {
  display: block;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2000ms linear forwards;
}

.fill-pipe-animate .start-tile .fill {
  animation: dash 1000ms linear forwards;
  animation-delay: 1000ms;
}

.fill-pipe-animate .end-tile .fill {
  animation: dash 1000ms linear forwards;
}

/* Start tile */
.start-tile.w .svg {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(90deg);
}
.start-tile.e .svg {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(270deg);
}
.start-tile.n .svg {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(180deg);
}

/* End tile */
.end-tile.w .svg {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-90deg);
}
.end-tile.e .svg {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(90deg);
}
.end-tile.s .svg {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(180deg);
}

.rotate-90 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(90deg);
}

.rotate-180 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(180deg);
}

.rotate-270 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(270deg);
}

.flip-180 {
  transform: scaleX(-1) rotate(180deg);
}

.flip-90 {
  transform: scaleX(-1) rotate(90deg);
}

.flip-270 {
  transform: scaleX(-1) rotate(270deg);
}

.flip {
  transform: scaleX(-1);
}

@keyframes blink {
  25% {
    opacity: 0, 5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}

button {
  appearance: none;
  background: transparent;
  border: 1px solid var(--main-color);
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 20px;
  padding: 0 8px;
}
button:hover {
  background: darkolivegreen;
}

blink {
  animation-name: blink;
  color: red;
  text-shadow: 1px 1px 12px hotpink;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
}

#grid {
  display: grid;
  border-top: 1px solid var(--grid-border-color);
  border-left: 1px solid var(--grid-border-color);
  grid-template-columns: repeat(var(--num-cols), 1fr);
  margin: 20px;
}

#grid > div {
  height: 80px;
  width: 80px;
  font-size: 0;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid var(--grid-border-color);
  border-bottom: 1px solid var(--grid-border-color);
}

#grid.game-in-progress > div.tile {
  cursor: cell;
}
#grid.game-in-progress > div.tile:hover {
  background: rgba(255, 105, 180, 0.2);
}

#grid.game-over {
  opacity: 1;
}

#upcoming-pipes {
  border-top: 1px solid var(--grid-border-color);
  border-left: 1px solid var(--grid-border-color);
  grid-template-columns: repeat(6, 1fr);
  margin: 20px;
  width: fit-content;
  display: flex;
}

#upcoming-pipes > div {
  height: 40px;
  width: 40px;
  opacity: 0.5;
  font-size: 0;
  box-sizing: border-box;
  border-right: 1px solid var(--grid-border-color);
  border-bottom: 1px solid var(--grid-border-color);
}

#upcoming-pipes > div:last-child {
  opacity: 1;
}

#grid div.label {
  font-size: 10px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  padding: 4px 8px;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 1);
  z-index: 5;
  transform: translate(-50%, -50%);
}
